.infos {
  background-color: #1a1a1a;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-top: 50px;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* ANCHOR -------------Position social Media------------*/
.flex-footer {
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  margin-right: 2%;
  height: 60px;
  margin-top: 50px;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.flex-item:hover {
  opacity: 0.9;
  transform: scale(1.5);
  transition: all 500ms ease-in-out;
}

/*  ANCHOR ------------Grid for ReferLinks-----------*/
.grid-info {
  display: grid;
  position: relative;
  margin-top: -80px;
  margin-right: auto;
  margin-left: 3%;
  width: 30vw;
  height: 250px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px 30px;
  gap: 5px;

  grid-template-areas:
    "item.1 item.2"
    "item.3 item.4"
    "item.5 item.6";
}

/* ANCHOR -------------Copyright-----------------*/

.copy {
  position: relative;
  color: #ffffff;
  font-family: sans-serif;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 18px;
}
hr {
  position: relative;
  bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
/* ANCHOR ------------Referlinks(Footer)------------*/

a:hover {
  text-decoration: underline;
}

.about {
  display: grid;
  grid-area: item.1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.contact {
  display: grid;
  grid-area: item.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.data {
  display: grid;
  grid-area: item.3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.support {
  display: grid;
  grid-area: item.4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.bank {
  display: grid;
  grid-area: item.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.terms {
  display: grid;
  grid-area: item.6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #ffffff;
  text-decoration: none;
}

/* ANCHOR -------------responsive Design for tablets---------------*/

@media only screen and (max-width: 1080px) {
  .infos {
    display: flex;
    margin-top: 220px;
  }
  .flex-footer {
    gap: 30px;
  }
}

/* ANCHOR -------------responsive design for smartphones--------------------*/

@media only screen and (max-width: 800px) {
  .grid-info {
    font-size: 14px;
  }
}

@media only screen and (max-width: 572px) {
  .infos {
    position: relative;
    top: -210px;
    height: 300px;
  }
  h3 {
    font-size: 15px;
  }
  .grid-info {
    margin-top: 20px;
    left: 50%;
    transform: translateX(-53%);
    display: grid;
    position: relative;
    font-size: 15px;
    width: 70vw;
    height: 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
    gap: 5px;

    grid-template-areas:
      "item.1 item.2"
      "item.3 item.4"
      "item.5 item.6";
  }

  .flex-footer {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}
@media only screen and (max-width: 422px) {
  .infos {
    position: relative;
    top: -180px;
  }
}

@media only screen and (max-width: 320px) {
  .infos {
    position: relative;
    top: -250px;
  }
}
