* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100vh;
  min-height: 100%;
  background: url("bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1140px) {
  body {
    background-image: url("bg-image.jpg");
  }
}

@media (max-width: 855px) {
  body {
    background-image: url("bg-image.jpg");
    background-size: cover;
    background-position: center right 20%;
  }
}

@media (max-width: 800px) {
  body {
    background-image: url("bg-image.jpg");
    background-position: center right 20%;
    background-size: cover;
  }
}
